body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.Quiz{
    background: white;
    padding: 25px;
    width : 500px;
    height: 480px;
    border-radius: 10px;
    text-align: center;
}
.correct {
    background: green !important;
}

.wrong {
    background: red !important;
}
.Option{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background: #185a9d;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    

}
.Option:hover{
    background: rgb(3, 58, 113);
}
#nextbutton{
    margin-top: 15px;
    background: rgb(177, 171, 171);
    padding: 10px 20px;
    border: none;
    color:black;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}
#nextbutton:hover{
    background: #43cea2;
    transform: scale(1.05);
}
 #progress{
    font-weight: bold;
    margin-bottom: 10px;
 }
#Score{
    margin-top: 10px;
    font-weight: bold;
}
#Question{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.Quiz {
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}